<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543048086110-l6rc1op8m76gj7hd4rfm43dcshlhqpj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543048086110-l6rc1op8m76gj7hd4rfm43dcshlhqpj5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>543048086110-3be607s0sflqh51un0cfjtv113hnk4uk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVP-Zc_mbf-Wso0w7SDaO9zchmlTQlCOo</string>
	<key>GCM_SENDER_ID</key>
	<string>543048086110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kr.hideme</string>
	<key>PROJECT_ID</key>
	<string>hidemeplease</string>
	<key>STORAGE_BUCKET</key>
	<string>hidemeplease.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543048086110:ios:c8dfd2486d8161695bfacf</string>
</dict>
</plist>