<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125892280544-gf2eq6ekng6053cqr3hnpvgfa6ug9h0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125892280544-gf2eq6ekng6053cqr3hnpvgfa6ug9h0t</string>
	<key>API_KEY</key>
	<string>AIzaSyD3dPy2GP0TA8lloQsbX0cHbLLy2NiUNO8</string>
	<key>GCM_SENDER_ID</key>
	<string>125892280544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kr.hideme</string>
	<key>PROJECT_ID</key>
	<string>hidemeplease2024-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hidemeplease2024-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125892280544:ios:e09f9f0d79745e321ad085</string>
</dict>
</plist>