<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307052986452-nbhra1i8igok1bnjs6iq3ohiuj1bqmth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307052986452-nbhra1i8igok1bnjs6iq3ohiuj1bqmth</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>307052986452-0tm1e9fo0uka8hkrkhle92fp1jvakaot.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-CFFZKqWwrlrpnij-Q-zzkWoeZTdQAw4</string>
	<key>GCM_SENDER_ID</key>
	<string>307052986452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kr.hideme</string>
	<key>PROJECT_ID</key>
	<string>hidemeplease-9a0dd</string>
	<key>STORAGE_BUCKET</key>
	<string>hidemeplease-9a0dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307052986452:ios:f277f56ccf5c184ef66dc1</string>
</dict>
</plist>